name: MyPy Type Checking

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
      
      - name: Run mypy
        run: pixi run mypy --config-file mypy.ini src/